*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header part 1 */

.ha{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-phone{
    color: white;
}

.phone a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.list ul li a{
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: white;
}

@media only screen and (max-width:700px){
    .ha{
        display: none;
    }
    .phone1{
        display: none;
    }
    .navigation img{
        width: 90px;
    }
    #lo{
        max-height: 40px;
        width: 50px;
    }
}

/*  header part 2 */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.nav ul li a:hover{
    background-color: black;
    color: white;
}
.phone1 i{
    color: black;
}

.phone1 a{
    color: black;
    text-decoration: none;
    display: grid;
}
.nu{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown{
    width: 30%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown {
    display: block;
}

/*  body styling code start here */
.slide img{
    width: 100%;
    height: 550px;
    /* background: url(https://hotelsofind.files.wordpress.com/2013/09/taj-mahal.gif);
    background-position: center;
    background-size: cover;
    height: 60vh; */
}
.slides{
    width: 100%;
    background: url(https://giffiles.alphacoders.com/212/212790.gif);
    background-position: center;
    background-size: cover;
    height: 57vh;
}
.cont{
    display: grid;
    align-items: center;
    justify-content: center;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
#ph{
    color: black;
}

.pa{
    font-size: 19px;
    font-style: italic;
}

.containerraj{
    border: 2px solid black;
    width: 278px;
    height: 240px;
    background-color: white;
    box-shadow: 3px 4px 4px black;
}
.containerraj a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 30px;
}

.location{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.location1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.location2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.h{
    color: orangered;
    font-weight: bold;
    font-size: 26px;
}
.h22{
    color: orangered;
    font-weight: bold;
    font-size: 26px;
}
.pp{
   margin-left: 50px;
   margin-right: 50px;
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
}

@media only screen and (max-width:1100px){
    .containerraj{
        border: 2px solid black;
        width: 185px;
        height: 190px;
        background-color: white;
        box-shadow: 3px 4px 4px black;
    }
    .containerraj a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 9px;
        margin-bottom: 7px;
        padding: 15px;
    }
    .containerraj img{
        width: 180px;
        height: 140px;
    }
    #ho, #us, #lap, #im, #ph{
        display: none;
    }
}
@media only screen and (max-width:753px){
    .containerraj{
        border: 2px solid black;
        width: 150px;
        height: 160px;
        background-color: white;
        box-shadow: 3px 4px 4px black;
    }
    .containerraj a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 9px;
        margin-bottom: 7px;
        padding: 15px;
    }
    .containerraj img{
        width: 146px;
        height: 120px;
    }
    .slide img{
        height: 20vh;
    }
    .slides{
        height: 25vh;
    }
}
@media only screen and (max-width:896px){
    .nav ul li a{
        font-size: 17px;
        padding: 2px;
    }
    .about, .customer, h3, ul li, a{
        font-size: 14px;
        padding: 10px;
        list-style: none;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}
@media only screen and (max-width:600px){
    .location{
        display: grid;
    }
    .location1{
        display: grid;
    }
    .location2{
        display: grid;
    }
    .pp{
        font-size: 13px;
    }
    .pa{
        font-size: 11px;
        font-style: italic;
    }
    .nav ul li a{
        font-size: 12px;
        padding: 2px;
    }
    .containerraj{
        border: 2px solid black;
        width: 325px;
        height: 240px;
        background-color: white;
        box-shadow: 3px 4px 4px black;
    }
    .containerraj a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 30px;
    }
    .containerraj img{
        width: 322px;
        height: 180px;
    }
}
@media only screen and (max-width:450px){
    .nav ul li a{
        font-size: 9px;
    }
    .containerraj a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 7px;
        padding: 15px;
    }
}

@media only screen and (max-width:919px){
    .photo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .photo img{
        width: 700px;
        height: 500px;
    }
}
@media only screen and (max-width:712px){
    .photo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .photo img{
        width: 500px;
        height: 400px;
    }
}
@media only screen and (max-width:508px){
    .photo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .photo img{
        width: 400px;
        height: 300px;
    }
}
@media only screen and (max-width:410px){
    .photo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .photo img{
        width: 300px;
        height: 200px;
    }
}
@media only screen and (max-width:312px){
    .photo{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .photo img{
        width: 200px;
        height: 150px;
    }
}
.request{
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    border: 3px solid rgb(0, 0, 0);
    width: 500px;
    height: 600px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #333;
}
.call img{
    width: 496px;
    height: 596px;
}
.call input{
    width: 300px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
}
#text{
    padding: 15px;
    width: 300px;
}
#btt{
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    background-color: rgb(253, 253, 253);
}
#btt:hover{
    background-color: orangered;
    color: white;
}
@media only screen and (max-width:820px){
    .request{
      display: grid;
    }
}
@media only screen and (max-width:820px){
    .call{
      width: 100%;
    }
    .call img{
      width: 98%;
    }
}
@media only screen and (max-width:820px){
    .call{
      width: 100%;
    }
    .call img{
      width: 98%;
    }
    .call input{
      width: 500px;
    }
    .call textarea{
      width: 500px;
    }
}
@media only screen and (max-width:530px){
    .call input{
        width: 400px;
      }
      .call textarea{
        width: 400px;
      }
}
@media only screen and (max-width:430px){
    .call input{
        width: 300px;
      }
      .call textarea{
        width: 300px;
      }
}
@media only screen and (max-width:320px){
    .call input{
        width: 200px;
      }
      .call textarea{
        width: 200px;
      }
}

.map{
    display: grid;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:920px){
    #maps{
        max-width: 97%;
        height: 230px;
    }
}

th, td{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
table{
    display: grid;
    align-items: center;
    justify-content: center;
}

/*  footer code start here */

footer{
    background-color: #333;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.needhelp h3{
    color: white;
    padding: 10px;
}
.needhelp p{
    color: white;
    padding: 10px;
}
.needhelp a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.about, .customer, h3, ul li, a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.follo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.fa-facebook{
    color: white;
    background-color: rgb(71, 135, 218);
    padding: 10px;
    border-radius: 45%;
}

.fa-whatsapp{
    color: white;
    background-color: rgb(90, 192, 40);
    padding: 10px;
    border-radius: 45%;
}

.fa-instagram{
    color: white;
    background-color: rgb(217, 33, 165);
    padding: 10px;
    border-radius: 45%;
}
.fa-linkedin{
    color: white;
    background-color: rgb(74, 13, 172);
    padding: 10px;
    border-radius: 45%;
}

.copycredit, h3{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
@media only screen and (max-width:1000px){
    .phone1{
        display: none;
    }
    .attri{
        font-size: 8px;
    }
}
@media only screen and (max-width:900px){
    .needhelp h3{
        font-size: 90%;
    }
    .needhelp p{
        font-size: 80%;
    }
}
@media only screen and (max-width:990px){
    .needhelp h3{
        font-size: 90%;
    }
    .needhelp p{
        font-size: 60%;
    }
    .about li, a{
        font-size: 80%;
    }
    .customer li, a{
        font-size: 80%;
    }
}
@media only screen and (max-width:690px){
    .flex{
        display: grid;
    }
    .needhelp h3{
        font-size: 30px;
    }
    .needhelp p{
        font-size: 22px;
    }
    .about li, a{
        font-size: 22px;
    }
    .about h3{
        font-size: 30px;
    }
    .customer li, a{
        font-size: 22px;
    }.customer h3{
        font-size: 30px;
    }
    .copycredit h4{
        font-size: 10px;
    }
    .attri, .none{
        font-size: 10px;
    }
}

.view{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 0);
}
.view:hover{
    background-color: orange;
}
/* main page code complete */